language: php

matrix:
  include:
    - php: 7.1

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
- travis_retry composer self-update

install:
- travis_retry composer install --no-interaction --prefer-dist
- composer require satooshi/php-coveralls --dev

script:
- if [[ "$COLLECT_COVERAGE" == "true" ]]; then vendor/bin/phpunit --coverage-clover build/logs/clover.xml; else vendor/bin/phpunit; fi

after_script:
- if [[ "$COLLECT_COVERAGE" == "true" ]]; then vendor/bin/coveralls; fi
